.label {
    padding: 5px 0px 25px 2px;
    width: 100%;
}

mat-card-content {
    text-align: center;
}

.success-chip {
    background-color: rgb(14, 172, 14);
    color: white;
    font-weight: bold;
}