<h1>Edit Invoice Header</h1>

<ng-template #busyTemplate>
    <div fxLayoutGrid="column" fxLayoutAlign="center">
        <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
</ng-template>

<form *ngIf="!busy; else busyTemplate" [formGroup]="invoiceFormGroup" (ngSubmit)="onSubmit(invoiceFormGroup)">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field class="form-element">
            <mat-label>Year</mat-label>
            <input matInput placeholder="Year" type="number" formControlName="year" name="year">
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Month</mat-label>
            <mat-select formControlName="month" placeholder="Month" name="month">
                <mat-option [value]="month.value" *ngFor="let month of months">{{month.label}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Number</mat-label>
            <input matInput placeholder="Number" type="number" formControlName="number">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="form-element">
            <input type="text" placeholder="Client" matInput formControlName="client" [matAutocomplete]="auto">
            <mat-spinner matSuffix diameter="20" *ngIf="clientsBusy"></mat-spinner>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="clientAutocompleteDisplayFn">
                <mat-option *ngFor="let option of filteredClientOptions | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field class="form-element">
            <mat-label>Sale Date</mat-label>
            <input matInput [matDatepicker]="sellDatePicker" formControlName="sellDate">
            <mat-datepicker-toggle matSuffix [for]="sellDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #sellDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Issue Date</mat-label>
            <input matInput [matDatepicker]="issueDatePicker" formControlName="issueDate">
            <mat-datepicker-toggle matSuffix [for]="issueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #issueDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Payment Type</mat-label>
            <mat-select formControlName="paymentType" placeholder="Payment Type">
                <mat-option [value]="paymentType.id" *ngFor="let paymentType of paymentTypes">{{paymentType.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="10px">
        <mat-form-field class="form-element">
            <mat-label>Gross Amount</mat-label>
            <input matInput placeholder="Gross Amount" type="number" formControlName="grossAmount">
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Net Amount</mat-label>
            <input matInput placeholder="Net Amount" type="number" formControlName="netAmount">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="10px">
        <div fxFlex="30">
            <span class="mat-slide-toggle-content">Pay Time (days)</span>
            <mat-slider thumbLabel min="1" max="30" step="1" formControlName="payTime"></mat-slider>
        </div>
        <div fxFlex="20">
            <mat-slide-toggle formControlName="isPaid">Is Paid</mat-slide-toggle>
        </div>
        <div fxFlex="50">
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
                <button mat-raised-button color="primary" type="submit" class="button" [class.spinner]="busy"
                    [disabled]="busy">Submit</button>
                <button mat-raised-button type="button" (click)="cancel(invoiceFormGroup)"
                    [disabled]="busy">Cancel</button>
            </div>
        </div>
    </div>
</form>