<h1>edit-invoice works!</h1>

<form *ngIf="invoice" [formGroup]="invoiceFormGroup" (ngSubmit)="onSubmit(invoiceFormGroup)">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field class="form-element">
            <mat-label>Year</mat-label>
            <input matInput placeholder="Year" type="number" formControlName="year" name="year">
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Select</mat-label>
            <mat-select formControlName="month" placeholder="Month" name="month">
                <mat-option [value]="month.value" *ngFor="let month of months">{{month.label}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Number</mat-label>
            <input matInput placeholder="Number" type="number" formControlName="number">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="form-element">
            <input type="text" placeholder="Client" matInput formControlName="client" [matAutocomplete]="auto" >
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="clientAutocompleteDisplayFn">
                <mat-option *ngFor="let option of filteredClientOptions | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field class="form-element">
            <mat-label>Sale Date</mat-label>
            <input matInput [matDatepicker]="sellDatePicker" formControlName="sellDate">
            <mat-datepicker-toggle matSuffix [for]="sellDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #sellDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Issue Date</mat-label>
            <input matInput [matDatepicker]="issueDatePicker" formControlName="issueDate">
            <mat-datepicker-toggle matSuffix [for]="issueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #issueDatePicker></mat-datepicker>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="10px">
        <mat-form-field class="form-element">
            <mat-label>Pay Time</mat-label>
            <input matInput placeholder="Pay Time" type="number" formControlName="payTime" min="1" max="30">
        </mat-form-field>

        <mat-checkbox fxFlex formControlName="isPaid">Is Paid</mat-checkbox>

        <mat-form-field class="form-element">
            <mat-label>Payment Type</mat-label>
            <input matInput placeholder="Payment Type" formControlName="paymentType">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field class="form-element">
            <mat-label>Gross Amount</mat-label>
            <input matInput placeholder="Gross Amount" type="number" formControlName="grossAmount">
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Net Amount</mat-label>
            <input matInput placeholder="Net Amount" type="number" formControlName="netAmount">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
        <button mat-raised-button color="primary" type="submit" class="button" [class.spinner]="busy"
            [disabled]="busy">Submit</button>
        <button mat-raised-button [routerLink]="['/invoices']" color="secondary" [disabled]="busy">Cancel</button>
    </div>


</form>

<pre>{{ busy }}</pre>

<pre>{{ invoice | json }}</pre>